.container {
  position: relative;
}

.button {
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 5px 10px 7px 10px;
  font-weight: 700;
  color: #272727;
  background: #ffbb3e;
  border: none;
  border-radius: 5px;
  transition: background 0.4s ease;
}

.button:hover {
  background: #6bff3e;
}
